* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b1{
  height: 200px;
  background-image: url(img.1/box1.jpg);
  background-size: cover;
  background-position: center;
}

.b2{
height: 200px;
background-image: url(img.1/box2.jpg);
background-size: cover;
background-position: center;
}

.b3{
height: 200px;
background-image: url(img.1/box3.jpg);
background-size: cover;
background-position: center;
}

.b4{
height: 200px;
background-image: url(img.1/box4.jpg);
background-size: cover;
background-position: center;
}